*{
    margin: 0;
    padding:0;
    font-family: 'Open Saens';
 }
 body{
     background-color:#EFDCEF;
 }
 header{
     background: url(audio.jpeg);
     
     background-position: center;
     height: 400px;
     width: 100%;
     text-align: center;
     font-size:30px ;
 }
 header h1{
 
 font-size: 50px;
 color: black;
 padding: 30px 0;
 font-family: Cambria, Cochin, Georgia, Times, 'Times Roman' serift;
 }
 header marquee{
     
      text-decoration: overline;
      font-size: 50px;
     color: black;
      padding: 30px 0;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .contenedor {
     max-width: 1200px;
     padding: 10px;
     margin: auto;
     display: flex;
     justify-content: space-between;
       /* oculto lo que quedar fuera del contenedor */
     contain: paint;
     
 }
 .contenedor .contenedor-items{
     margin-top: 30px;
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(220px,  1fr));
     grid-gap: 30px;
     grid-row: 30px;
     grid-row-gap: 30px;
     width: 100%;
     transition: .3s;
 }
 .contenedor .contenedor-items .item{
     max-width: 200px;
     padding: 10px;
     margin: auto;
     border: 1px solid #666;
     border-radius: 10px;
     padding: 20px;
     transition: .3s;
 }
 .contenedor-items .item:hover{
     box-shadow: 0 0 10px #666;
     scale: 1.05;
 }
 .contenedor-items .item .img-item{
     width: 100%;
 }
 .contenedor-items .item .titulo-item{
     display: block;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     color: #500907;
 }
 
 .contenedor-items .item .precio-item{
     display: block;
     text-align: center;
     font-weight: bold;
     font-size: 22px;
     color: #500907;
 }
 .contenedor-items .item .boton-item{
     display: block;
     margin: 10px auto;
     border: none;
     background: #500907;
     color:#fff;
     padding: 5px 15px;
     border-radius: 5px;
     cursor: pointer;
 }
 /*Carrito de compras*/
 .carrito{
     border: 1px solid #666;
     width: 35%;
     margin-top: 30px;
     border-radius: 10px;
     overflow: hidden;
     margin-bottom: auto;
     position: sticky !important;
     top: 0;
     transition: .3s;
     opacity: 0;
     margin-right: -100%;
 }
 .carrito .header-carrito{
     background-color: #500907;
     color: #fff;
     text-align: center;
     padding: 20px 0;
 
 }
 
 .carrito .carrito-item{
     display: flex;
     align-items: center;
     position: relative;
     border-bottom: 1px solid #666;
     padding: 25px;
 }
 
 .carrito .carrito-item {
     display: flex;
     align-items: center;
     position: relative;
     border-bottom: 1px solid #666;
     padding: 20px;
 }
 .carrito .carrito-item img{
     margin-right: 20px;
 }
 .carrito .carrito-item .carrito-item-titulo{
     display: block;
     font-weight: bold;
     margin-bottom: 3px;
     text-transform: uppercase;
 }
 .carrito .carrito-item .selector-cantidad{
     display: inline-block;
     margin-right: 25px;
 }
 .carrito .carrito-item .carrito-item-cantidad{
     border: none;
     font-size: 18px;
     background: transparent;
     display: inline-block;
     width: 30px;
     padding: 5px;
     text-align: center;
 }
 .carrito .carrito-item .selector-cantidad i{
     font-size: 18px;
     width: 32px;
     height: 32px;
     line-height: 32px;
     text-align: center;
     border-radius: 50%;
     border: 1px solid #500907;
     cursor: pointer;
 }
 .carrito .carrito-item .carrito-item-precio{
     font-weight: bold;
     display: inline-block;
     font-size: 16px;
     margin-bottom: 5px;
 }
 
     .contenedor-items{
         width: 100% !important;
     }